<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../styles/style.css">
  <title>{{{title}}}</title>
</head>

<body>
  <header>
    <div class="header">
      <a href="/list/page/1">список анекдотов</a>

      <div>
        <input placeholder="пароль">
        <button id="enterBtn" class="btn btn-primary">войти</button>
      </div>
    </div>
    <div class="title">
      <h1>{{{title}}}</h1>
    </div>
  </header>
  <main>
    <div>

    </div>
    {{{body}}}
  </main>
  <footer>
    {{!-- footer --}}
  </footer>
  <script src="../../js/index.js"></script>

</body>

</html>