{{!-- <button id="admin-btn">добавить анекдот</button> --}}
{{!-- <textarea id="textarea" class="disable" cols="30" rows="10"></textarea> --}}

<form action="/admin" method="POST">
  <input type="text" name="text">
  <button type="submit">add btn</button>
</form>