<ul>
  {{#each jokes}}
  <li class="item">
    <p>{{format_id.}}</p>
    <h3>{{format_text.}}</h3>
    <p>{{format_topic.}}</p>
  </li>
  {{/each}}
</ul>
<ul class="pagination-list">
  {{#each pages}}
  <li class="pagination">{{.}}</li>
  {{/each}}
</ul>