<form action="/update/{{joke.id}}" method="post">

  <input type="text" name="topic" value="{{joke.topic}}"><br><br>

  <textarea name="text" id="" cols="30" rows="10">{{joke.text}}</textarea><br>

  <button type="submit">сохранить</button>

</form>