body {
  padding: 0 50px;
  overflow: auto;
}

.header {
  padding: 10px 50px;
  border: 1px solid #666;
  border-radius: 10px;
  text-align: center;
}

p {
  color: red;
}

a {
  margin-right: 10px;
}

.title {
  text-align: center;
}

.disable {
  display: none;
}

.danger {
  background-color: red;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.item {
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.pagination-list {
  display: flex;
  justify-content: space-around;
}

.pagination {
  color: blue;
  font-size: 30px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav {
  width: 20%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.body {
  width: 75%;
}

.massage {
  text-align: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: #f4b3b3;
  color: black;
}